// $("#like-buttons").html("<%= j(render partial: 'like', locals: { prototypes: @prototypes, likes: @likes }) %>");
$("#like-buttons").html("#{j(render partial: 'like', locals: { @prototype: @prototypes, likes: @likes })}");